.sections-mint-main {
  display: flex;
  justify-content: space-between;
  padding: em(107) em(135) 0;
  position: relative;

  @include mobile {
    padding: em(12) em(10) 0;
    flex-direction: column;
  }

  &:before {
    background-image: url("/images/page-bg/mint-top.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: em(950);
    z-index: 1;
    content: "";

    @include mobile {
      background-image: url("/images/page-bg/mint-top-mobile.jpg");
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    width: em(630);
    padding: em(47) em(120) em(50);

    border: em(3) solid $color-accent;
    border-radius: em(35);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 74px rgba(34, 245, 195, 0.15);
    backdrop-filter: blur(5px);

    @include mobile {
      width: 100%;
      border-radius: em(20);
      padding: em(30) em(26) em(40);
      margin-bottom: em(49);
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: em(25);

    @include mobile {
      margin-bottom: em(45);
    }
  }

  &__button {
    &--connect {
      width: em(271);
      height: em(85);
      margin-bottom: em(61);

      @include mobile {
        margin-bottom: em(50);
      }
    }

    &--polygon {
      width: em(326);
      height: em(85);
      margin-bottom: em(20);
    }

    &--buy {
      width: em(270);
      height: em(78);
      margin-bottom: em(10);
    }

    &--mint {
      margin-top: em(40);
      margin-bottom: em(40);
      width: em(271);
      height: em(85);
    }
  }

  .crossmintImg-0-2-2 {
    width: em(40);
    height: em(40);
    margin-right: em(28);
  }

  .crossmintButton-d2-0-2-6 {
    display: flex;
    align-items: center;
    padding: 0 em(20);
    background-color: rgba(0, 0, 0, 0.3);
    border: em(2) solid $color-accent;
    border-radius: em(10);
  }

  .crossmintParagraph-d3-0-2-7 {
    font-family: Outfit, sans-serif;
    font-size: em(17);
    font-weight: 600;
    line-height: em(31, 17);
  }

  &__input {
    width: em(270);
    height: em(78);
  }

  &__card {
    width: em(368);
    position: relative;
    z-index: 2;
    object-fit: contain;

    @include mobile {
      width: em(271);
      margin: 0 auto;
    }
  }

  &__loading {
    margin-bottom: em(20);
  }

  &__icon {
    &--polygon {
      width: em(38);
      flex-shrink: 0;
    }
  }

  &__price {
    margin-bottom: em(9);
  }

  &__price-amount {
    margin-bottom: em(25);
  }

  &__minted {
    margin-bottom: em(20);
  }

  &__text {
    margin-bottom: em(20);
  }

  .css-5xe99f-MuiLinearProgress-bar1 {
    background-color: $color-accent;
  }

  &__font {
    &--title {
      font-family: Squada One, sans-serif;
      font-size: em(64);
      line-height: em(110, 64);

      @include mobile {
        font-size: em(42);
        line-height: 1;
      }
    }

    &--connect {
      font-family: Squada One, sans-serif;
      font-size: em(30);
      line-height: em(30, 30);
    }

    &--text {
      font-family: Outfit, sans-serif;
      font-size: em(17);
      font-weight: 600;
      line-height: em(31, 17);
    }

    &--loading {
      font-family: Squada One, sans-serif;
      font-size: em(30);
      line-height: em(30, 30);
    }

    &--accent {
      font-family: Outfit, sans-serif;
      font-size: em(17);
      font-weight: 600;
      line-height: em(31, 17);
      color: rgba($color-white, 0.5);
    }
  }
}