// Breakpoints
$mobile-width: 768px;
$base-font-size: 16;

// Colors
$color-black: #000;
$color-white: #fff;
$color-accent: #22F5C3;
$color-background: #07091D;

// Font
$font-family: 'Outfit', sans-serif;

// Transitions
$transition-default: 0.3s;
$transition-slower: 0.4s;
$transition-slow: 0.5s;
